<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.angularjs.org/1.3.5/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.5/angular-route.min.js"></script>
<script src="https://code.angularjs.org/1.3.5/angular-resource.min.js"></script>

<body>

<div ng-app="myApp">
  <div class="container">

    <br/>
    <div ng-controller="LinkController">
        {{ firstName + " " + lastName }}
    </div>
    
    <br/>
    <!-- Single Data Bindingddddv  dff-->
    <p>Name: <input type="text" ng-model="enteredname" /></p>
    <p>Entered name is: {{ enteredname }}</p>

    <!-- Double Data Binding -->
    Quantity <input type="text" ng-model="quantity" />
    Price <input type="text" ng-model="price" /><br>
    Total: <input type="text" value="{{price*quantity}}">
    
    <!-- ng-repeat -->
  

    <div ng-controller="News">
        Looping with {{tag}}
      </div>
  
      <div ng-controller="Social">
      Looping with  {{tag}}
      </div> 

      <script>
        var app = angular.module("myShoppingList", []);
        app.controller("myCtrl", function($scope) {
          $scope.products = ["Milk", "Bread", "Cheese"];
          $scope.addItem = function () {
            $scope.products.push($scope.addMe);
          }
        });
        </script>
      
      <div ng-app="myShoppingList" ng-controller="myCtrl">
        <ul>
          <li ng-repeat="x in products">{{x}}</li>
        </ul>
        <input ng-model="addMe">
        <button ng-click="addItem()">Add</button>
      </div>

    <!-- Routing -->
    <a href="#/news">News</a> | <a href="#/social">Social</a>
      <div ng-view></div>

  </div>

</div>
</div>

<script src="js/app.js"></script>
<script src="js/controllers/LinkController.js"></script>
<script src="js/controllers/RepeatController.js"></script>
<script src="js/controllers/NewController.js"></script>
<script src="js/controllers/AddController.js"></script>


</body>
</html>
