<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.angularjs.org/1.3.5/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.5/angular-route.min.js"></script>
<script src="https://code.angularjs.org/1.3.5/angular-resource.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>

<body>
<div ng-app="myApp">
  <div class="container">
    <!-- xxx Routing cccc -->

      <button type="button" value="XXX" id ="" class="btn btn-primary"onclick="window.location.href='#/main'">Main</button>
      <button type="button" class="btn btn-primary" onclick="window.location.href='#/news'">News_02</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='#/social'">Social</button>
      <button type="button" class="btn btn-success" onclick="window.location.href='#/movies'">Movies</button>   
      <div ng-view></div>

      <div id="x" ng-controller="News">{{tag}}
          <ul ng-repeat="x in NewsURLS">
              <li>{{x.name}}</li>
              <li>{{x.url}}</li>
          </ul>
      </div>
  </div>

  

</div>





<script src="js/app.js"></script>
<script src="js/controllers/LinkController.js"></script>
<script src="js/controllers/RepeatController.js"></script>
<script src="js/controllers/NewController.js"></script>
<script src="js/controllers/AddController.js"></script>

</body>
</html>
