
<div ng-controller="News">
<h2>{{tag}} URL</h2>
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="names in NewsURLS">
                    <th scope="row">{{names.name}}</th>
                    <td><a target="_blank" href="{{names.url}}" id="myInput">{{names.url}}</a>
                        
                        <button onclick="myFunction()">Copy text</button>
                    </td>
                  </tr>
                </tbody>
              </table>
</div>


