
<div ng-controller="Social">
<h2>{{tag}} URL</h2>
              <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">URL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="names in SocialURL">
                            <th scope="row">{{names.name}}</th>
                            <td><a href="{{names.url}}" >{{names.url}}</a></td>
                          </tr>
                        </tbody>
                      </table>
</div>
